* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgba(0, 255, 255, 0.534);
  width: 90%;
  min-height: 300vh;
  margin: 5%;
  padding: 5% 0 0 5%;
  position: relative;
}

body {
  background-color: azure;
}

h1 {
  display: block;
  background: crimson;
  color: white;
  text-align: center;
  width: 300px;
  padding: 20px 0;
}

#jaune {
  position: absolute;
  right: 0;
  top: 5%;
  background-color: rgba(255, 255, 0, 0.836);
  width: 40%;
  min-height: 100vh;
  padding: 5% 0 5% 4.5%;
}

#degun {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 37%;
}

article > h3 {
  margin: 2% 0;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

article > ul > li {
  margin: 20px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: white;
  font-size: 100px;
  width: 50%;
  font-family: sans-serif;
  margin-top: 5%;
}

h2 > span {
  border-bottom: 15px dotted white;
}

p {
  width: 50%;
  font-size: 20px;
  margin: 5% 0;
  color: white;
}

hr {
  width: 50%;
  border: 1px solid crimson;
}
