* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  background: lightgrey;
}

#bas,
#haut {
  width: 100%;
  min-height: 60px;
}

#bas {
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
  display: flex;
}

#haut {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

#haut > ul {
  min-width: 280px;
}

li {
  display: block;
  width: 80px;

  text-align: center;
  line-height: 60px;
}

a {
  text-decoration: none;
  color: gray;
}

main {
  width: 100%;
  background: white;
}

main > section {
  width: 100%;
  display: flex;
  position: relative;
  gap: 10px;
  padding: 30px 20px;
  flex-wrap: wrap;
}

main > section:first-child,
main > section:nth-child(3) {
  flex-direction: column;
  text-align: center;
}

header + section {
  width: 100%;
  min-height: 80vh;
  /* background-color: greenyellow; */
}

section > h2 {
  position: absolute;
  top: 0;
  left: 0%;
  display: block;
  width: 100%;
  min-height: 20px;
}

section > figure {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  min-width: 280px;
}

figcaption {
  position: absolute;
  top: 100vh;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: 2s linear;
}



figure > img {
  max-width: 100%;
  min-width: 100%;
}

.btn {
  display: block;
  min-width: 220px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: black;
  color: white;
}

main > section:nth-child(3) > ul {
  width: 100%;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

main > section:nth-child(3) > ul > li {
  display: block;
  width: 260px;
}

section > h2 {
  position: absolute;
  top: 0;
  left: 0%;
  display: block;
  width: 100%;
  min-height: 20px;
}

section > figure {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

figcaption {
  position: absolute;
  top: 100vh;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: 2s linear;
}

figure:hover > figcaption {
  top: 60vh;
}

figure > img {
  max-width: 100%;
  min-width: 100%;
}

.btn {
  display: block;
  min-width: 260px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: black;
  color: white;
}

.centre {
  margin: auto;
}

main > section:nth-child(3) > ul {
  width: 100%;
  justify-content: center;
  gap: 10px;
}

main > section:nth-child(3) > ul > li {
  display: block;
  width: 260px;
}

h1,
q {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
}

q {
  letter-spacing: -5px;
}

p {
  font-size: 20px;
  margin: 10px auto;
  width: 90%;
}

#bgvid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-size: cover;
}

@media screen and (min-width: 980px) {
  q::before{content:'«';
    color: orange
    }
  
    q::after{content:'»';
    color:fuchsia
    }
  figure:hover > figcaption {
    top: 60vh;
  }
  #haut + a,
  #burger > li:first-child {
    display: none;
  }
}

@media screen and (max-width: 979px) {



  figure:hover > figcaption {
    top: 0vh;
  }
  #haut ul:last-child,
  header + section,
  video {
    display: none;
  }
}

#haut + a {
  display: block;
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 20px;
  color: black;
}
#burger {
  position: fixed;
  background: black;
  top: 60px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  transition: 1s linear;
  z-index: 5;
}
#burger:not(:target) {
  right: 200%;
}

#burger:target {
  right: 0;
}

.logo {
  width: 60px;
  margin: 10px;
}

#burger li a {
  font-size: 30px;
}

#burger li {
  width: 100%;
  border-bottom: 1px solid white;
}

#burger li:nth-child(2) > a {
  color: crimson;
  font-size: 20;
}
